/* base */
.sr-only {
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  /* color */
  --maryland-red: #e21833;
  --maryland-yellow: #ffd200;
  --white: #ffffff;
  --black: #000000;

  --lighest-gray: #fafafa;
  --lighter-gray: #f1f1f1;
  --light-gray: #e6e6e6;
  --medium-gray: #757575;
  --dark-gray: #454545;
  --darker-gray: #242424;

  --dark-red: #a90007;

  /* gap */
}

/* dark theme */
.dark-theme {
  --maryland-red: #ffd200;
  --maryland-yellow: #e21833;
  --white: #000000;
  --black: #ffffff;

  --lighest-gray: #242424;
  --lighter-gray: #454545;
  --light-gray: #757575;
  --medium-gray: #e6e6e6;
  --dark-gray: #f1f1f1;
  --darker-gray: #fafafa;
}

/* make sure the padding is calculated in the total width */
* {
  box-sizing: border-box;
}

body {
  color: var(--dark-gray);
  background: var(--white);
  font-family: Interstate, Helvetica, sans-serif;
  margin: 0rem;
}

/* typography */
.t-display {
  font-family: "Barlow Condensed";
  font-size: 5rem;
  font-style: italic;
  font-weight: 700;
  line-height: 4.55rem; /* 91% */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.t-headline {
  font-family: Interstate;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.12rem; /* 104% */
}

.t-title-large {
  font-family: Interstate;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 112.5% */
}

.t-title-medium {
  font-family: Interstate;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem; /* 125% */
}

.t-title-small {
  font-family: Interstate;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.40625rem; /* 125% */
}

.t-body-large {
  font-family: Interstate;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 125% */
}

.t-body-medium {
  font-family: Interstate;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.74375rem; /* 155% */
}

.t-body-small {
  font-family: Interstate;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
}

/* consider to remove, using other t and increase weight */
.t-interactive {
  font-family: Interstate;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.40625rem; /* 125% */
}

.t-interactive-sub {
  font-weight: 700 !important;
}

.t-label {
  font-family: Interstate;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12rem; /* 128% */
}

.t-eyebrow {
  font-family: Interstate;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.75rem; /* 100% */
  text-transform: uppercase;
}

.t-uppercase {
  text-transform: uppercase;
}

/* color */
/* titles */
.c-content-primary {
  color: var(--black);
}

/* body text */
.c-content-secondary {
  color: var(--dark-gray);
}

.c-content-tertiary {
  color: var(--medium-gray);
}

/* titles */
.c-content-dark-primary {
  color: var(--white);
}

/* body text */
.c-content-dark-secondary {
  color: var(--light-gray);
}

.c-content-interactive-primary {
  color: var(--white);
}

.c-content-interactive-secondary {
  color: var(--dark-gray);
}

.c-content-interactive-secondary:hover,
.c-content-interactive-secondary:focus {
  color: var(--maryland-red);
}

.c-content-interactive-tertiarty {
  color: var(--maryland-red);
}

.c-underline-primary {
  background-image: linear-gradient(var(--maryland-red), var(--maryland-red));
}

.c-underline-secondary {
  background-image: linear-gradient(var(--black), var(--black));
}

.c-underline-dark-primary {
  background-image: linear-gradient(var(--light-gray), var(--light-gray));
}

.c-bg-primary {
  background-color: var(--white);
}

.c-bg-secondary {
  background-color: var(--lighest-gray);
}

.c-bg-dark-primary {
  background-color: var(--black);
}

.c-bg-dark-secondary {
  background-color: var(--darker-gray);
}

.c-bg-interactive-primary {
  background-color: var(--maryland-red);
}

.c-bg-interactive-primary:hover,
.c-bg-interactive-primary:focus {
  background-color: var(--dark-red);
}

.c-bg-interactive-secondary {
  background-color: var(--lighest-gray);
}

.c-bg-interactive-secondary:hover,
.c-bg-interactive-secondary:focus {
  background-color: var(--dark-gray);
}

.c-bg-interactive-dark-primary {
  background-color: var(--darker-gray);
}

.c-bg-interactive-dark-primary:hover,
.c-bg-interactive-dark-primary:focus {
  background-color: var(--light-gray);
}

.c-border-primary {
  border: 1px solid var(--light-gray);
}

.c-border-secondary {
  border: 1px solid var(--medium-gray);
}

.c-border-tertiary {
  border: 1px solid var(--darker-gray);
}

.c-border-interactive-primary {
  border: 1px solid var(--maryland-red);
}

.c-border-interactive-primary:hover,
.c-border-interactive-primary:focus {
  border: 1px solid var(--dark-red);
}

/* animation */
/* link hover underline */
.ani-default {
  transition: all 0.5s;
}

.ani-underline {
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: background 0.5s;
  background-size: 0 2px;
}

.ani-underline:hover,
.ani-underline:focus {
  background-size: 100% 2px;
}

.ani-bg-interactive {
  transition: background 0.5s, border 0.5s, color 0.5s;
}

.ani-icon-interactive {
}

.ani-icon-interactive:hover path,
.ani-icon-interactive:focus path {
  fill: var(--dark-gray) !important;
}

.ani-icon-interactive:hover path#white,
.ani-icon-interactive:focus path#white {
  fill: var(--white) !important;
}

/* decoration */
.d-underline {
  text-decoration: underline;
}

/* icon */
/* chevron */
.i-chevron {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.7183 6.98255L2.625 1.89587H6.15621L11.306 6.93281L11.2563 6.98256L11.306 7.0323L6.15621 12.0692H2.625L7.7183 6.98255Z' fill='%23E21833'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-y: 4px;
}

.i-chevron-down {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9' viewBox='0 0 16 9' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.64841 4.6112L11.7512 1.52588e-05L15.2968 2.8372e-05L9.55456 6.75353L9.55721 6.75652L7.65237 9.00002L7.64841 8.99536L7.64446 9.00001L5.73961 6.75651L5.74226 6.75353L8.93275e-06 2.18221e-05L3.5456 2.18221e-05L7.64841 4.6112Z' fill='%23E21833'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 8px;
}

.i-menu-toggle {
  width: 20px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' viewBox='0 0 20 19' fill='none'%3E%3Cline y1='1.75' x2='20' y2='1.75' stroke='black' stroke-width='2.5'/%3E%3Cline y1='9.75' x2='20' y2='9.75' stroke='black' stroke-width='2.5'/%3E%3Cline x1='4' y1='17.75' x2='20' y2='17.75' stroke='black' stroke-width='2.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.i-search {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5292 8.79804C16.5292 11.28 14.5172 13.2919 12.0353 13.2919C9.55337 13.2919 7.54138 11.28 7.54138 8.79804C7.54138 6.31612 9.55337 4.30414 12.0353 4.30414C14.5172 4.30414 16.5292 6.31612 16.5292 8.79804ZM18.9583 8.79804C18.9583 12.6215 15.8588 15.7211 12.0353 15.7211C10.6968 15.7211 9.44703 15.3412 8.38789 14.6835L5.04616 18.0252H1.04166L6.29677 12.672C5.54897 11.5664 5.11225 10.2332 5.11225 8.79804C5.11225 4.97455 8.2118 1.875 12.0353 1.875C15.8588 1.875 18.9583 4.97455 18.9583 8.79804Z' fill='%23242424'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

/* layout */
.l-flex-row {
  display: flex;
  flex-direction: row;
}

.l-flex-col {
  display: flex;
  flex-direction: column;
}

/* spacing */

.s-center {
  margin: auto;
}

/* box */
/* Mobile */
/* page width component */
.s-box-page-default-v {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.s-box-default-v-top {
  padding-top: 1.5rem;
}

.s-box-default-v-bottom {
  padding-bottom: 1.5rem;
}

.s-box-page-default-h {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.s-box-page-none-h {
  padding-left: 0;
  padding-right: 0;
}

.s-box-page-small-v {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.s-box-small-v-top {
  padding-top: 1rem;
}

.s-box-small-v-bottom {
  padding-bottom: 1rem;
}

/* box -> within element */
.s-box-default-v {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.s-box-default-h {
  padding-left: 1rem;
  padding-right: 1rem;
}

.s-box-small-v {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.s-box-small-h {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.s-box-large-v {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.s-box-large-h {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* stack/inline -> within element */
.s-stack-small {
  margin-bottom: 0.25rem;
}

.s-stack-default {
  margin-bottom: 1rem;
}

.s-stack-large {
  margin-bottom: 2rem;
}

.s-inline-small {
  margin-right: 0.25rem;
}

.s-inline-default {
  margin-right: 1rem;
}

.s-inline-large {
  margin-right: 2rem;
}

/* Tablet */
@media (min-width: 768px) {
  .s-box-default-v {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .s-box-default-h {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .s-box-large-v {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .s-box-large-h {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .s-box-small-v {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .s-box-small-h {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .s-box-page-default-v {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .s-box-page-default-h {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .s-stack-small {
    margin-bottom: 0.5rem;
  }

  .s-stack-default {
    margin-bottom: 1.5rem;
  }

  .s-stack-large {
    margin-bottom: 2.5rem;
  }

  .s-inline-small {
    margin-right: 0.5rem;
  }

  .s-inline-default {
    margin-right: 1.5rem;
  }

  .s-inline-large {
    margin-right: 2.5rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .s-box-default-v {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .s-box-default-h {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .s-box-small-v {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .s-box-small-h {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .s-box-large-v {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .s-box-large-h {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .s-box-page-default-v {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .s-box-page-default-h {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .s-stack-small {
    margin-bottom: 1rem;
  }

  .s-stack-default {
    margin-bottom: 2rem;
  }

  .s-stack-large {
    margin-bottom: 3rem;
  }

  .s-inline-small {
    margin-right: 1rem;
  }

  .s-inline-default {
    margin-right: 2rem;
  }

  .s-inline-large {
    margin-right: 3rem;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  .s-box-page-default-h {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }

  .s-box-page-default-v {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* defatult element */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

p {
  color: var(--dark-gray);
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

a {
  color: var(--dark-gray);
  text-decoration: underline;
  transition: all 0.5s;
}

a:hover,
a:focus {
  color: var(--maryland-red);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--black);
  text-decoration: none;
  background-image: linear-gradient(var(--black), var(--black));
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: background 0.5s;
  background-size: 0 2px;
}

h1 a:hover,
h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus,
h4 a:hover,
h4 a:focus,
h5 a:hover,
h5 a:focus,
h6 a:hover,
h6 a:focus {
  color: var(--black);
  background-size: 100% 2px;
}
