.umd-lib a {
  /* remove default style */
  text-decoration: none;
}

.umd-lib li {
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  border-bottom: 1px solid var(--light-gray);
}

.umd-lib li.subnav-parent {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.umd-lib li.subnav-parent span.i-chevron-down {
  display: inline-block;
  transform: rotate(90deg);
}

.umd-lib li.active-submenu {
  padding-bottom: 0;
  margin-bottom: 0;

  border-bottom: none;
}

.umd-lib li.active-submenu .active-link {
  padding-bottom: 1rem;

  border-bottom: 1px solid var(--light-gray);
}

.umd-lib li.active-submenu .active-link .is-active {
  background-image: linear-gradient(
    var(--maryland-yellow),
    var(--maryland-yellow)
  );

  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 2px;
}

.umd-lib li.active-submenu ul {
  padding-top: 1rem;

  background-color: var(--lighest-gray);
}

.umd-lib li.active-submenu ul li {
  padding-left: 1rem;
}
