/* For two-column layout css */
.umd-lib-layout {
  display: flex;
  flex-direction: row;
}

.col-child {
  flex-grow: 1;
}

.preview-tag {
  float: right;
  font-weight: bold;
  font-size: .65rem;
  font-style: italic;
}
