/* For two-column layout css */
/* .umd-lib-layout {
  display: flex;
  flex-direction: row;
} */

/* layout builder */
.block-info,
.region-info {
  display: none;
}

.preview .block-info {
  float: right;
  display: block;
  font-weight: bold;
  font-size: 0.65rem;
  font-style: italic;
}

.preview .region-info {
  font-size: 0.8rem;
  display: block;
  font-weight: bold;
  padding-left: 15px;
  font-style: italic;
}

.preview .main-column .region-info {
  position: absolute;
}

/* reset layout for layout builder  */
.layout-builder__layout.umd-lib-layout.layout--custom {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.layout-builder__layout.umd-lib-layout.layout--custom .row {
  margin-bottom: 0rem !important;
}

.layout-builder__layout.umd-lib-layout.layout--custom .card-group {
  padding-top: 1.5rem !important;
  margin-bottom: 1rem !important;
  position: relative;
}

.layout-builder__layout.umd-lib-layout.layout--custom .main-column .col-child {
  margin-top: 1.5rem !important;
}

div.layout-builder__section .layout-builder__add-block {
  height: fit-content;
}

/* umd lib custom layout */
.umd-lib-layout.layout--custom {
  display: flex;
  flex-direction: row;
}

/* section vertical spacing */
.umd-lib-layout.layout--custom.vertical-spacing-default {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.umd-lib-layout.layout--custom.vertical-spacing-small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.umd-lib-layout.layout--custom.vertical-spacing-large {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

/* sidebar region */
.umd-lib-layout.layout--custom .sidebar-navigation {
  display: none;
}

/* main column region */
.umd-lib-layout.layout--custom .main-column {
  width: 100%;

  display: flex;
  flex-direction: column;
}

/* original column */
.umd-lib-layout.layout--custom .main-column .layout--1-column,
.umd-lib-layout.layout--custom .main-column .layout--2-column,
.umd-lib-layout.layout--custom .main-column .layout--3-column,
.umd-lib-layout.layout--custom .main-column .layout--4-column {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  gap: 1rem;
}

.umd-lib-layout.layout--custom .main-column .col-child,
.umd-lib-layout.layout--custom .main-column .card-group > div {
  min-width: 15rem;
}

.umd-lib-layout.layout--custom .main-column .col-child {
  display: flex;
  flex-direction: column;
}

.umd-lib-layout.layout--custom .main-column .col-child > div,
.umd-lib-layout.layout--custom .sidebar-navigation > div {
  margin-bottom: 1.5rem;
}

/* card group */
.umd-lib-layout.layout--custom .main-column .card-group.layout--1-column {
  grid-template-columns: 1fr;
}

/* block spacing */
.row.vertical-default {
  margin-bottom: 2rem;
}

.row.vertical-small {
  margin-bottom: 2rem;
}

.row.vertical-large {
  margin-bottom: 3.5rem;
}

/* breakpoint */
/* Tablet */
@media (min-width: 768px) {
  .umd-lib-layout.layout--custom .sidebar-navigation {
    display: initial;
    max-width: 15rem;
    min-width: 15rem;
  }

  /* card group */

  /* block spacing */
  .row.vertical-default {
    margin-bottom: 2.5rem;
  }

  .row.vertical-small {
    margin-bottom: 2rem;
  }

  .row.vertical-large {
    margin-bottom: 3.5rem;
  }

  .umd-lib-layout.layout--custom .main-column .layout--1-column,
  .umd-lib-layout.layout--custom .main-column .layout--2-column,
  .umd-lib-layout.layout--custom .main-column .layout--3-column,
  .umd-lib-layout.layout--custom .main-column .layout--4-column {
    gap: 1.5rem;
  }

  /* section vertical spacing */
  .umd-lib-layout.layout--custom.vertical-spacing-default {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }

  .umd-lib-layout.layout--custom.vertical-spacing-small {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .umd-lib-layout.layout--custom.vertical-spacing-large {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /* card group */
  .umd-lib-layout.layout--custom .main-column .card-group.layout--2-column {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 1rem) / 3)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom .main-column .card-group.layout--3-column {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 2rem) / 4)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom .main-column .card-group.layout--4-column {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 3rem) / 5)), 1fr)
    );
  }

  /* section vertical spacing */
  .umd-lib-layout.layout--custom.vertical-spacing-default {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .umd-lib-layout.layout--custom.vertical-spacing-small {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .umd-lib-layout.layout--custom.vertical-spacing-large {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }

  /* block spacing */
  .row.vertical-default {
    margin-bottom: 3rem;
  }

  .row.vertical-small {
    margin-bottom: 2rem;
  }

  .row.vertical-large {
    margin-bottom: 5rem;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
}

@media (min-width: 1560px) {
  /* card group */
  /* .umd-lib-layout.layout--custom .main-column .card-group.layout--4-column {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 3rem) / 5)), 1fr)
    );
  } */
}
