/* layout builder */
.block-info,
.region-info {
  display: none;
  font-weight: bold;
  font-size: 0.8rem;
  font-style: italic;
}

.preview .block-info {
  display: block;

  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
}

.preview .region-info {
  display: block;

  padding-left: 1.5rem;
  margin-bottom: 0 !important;
}

.preview .main-column .region-info {
  position: absolute;
}

.preview .main-column .card-group .region-info {
  top: 0rem;
}

/* reset layout for layout builder  */
.layout-builder__layout.umd-lib-layout.layout--custom {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.layout-builder__layout.umd-lib-layout.layout--custom .row {
  margin-bottom: 0rem !important;
}

.layout-builder__layout.umd-lib-layout.layout--custom .card-group {
  padding-top: 1.5rem !important;
  margin-bottom: 1rem !important;
  position: relative;
}

.layout-builder__layout.umd-lib-layout.layout--custom .main-column .col-child {
  margin-top: 1.5rem !important;
}

div.layout-builder__section .layout-builder__add-block {
  height: fit-content;
}

/* layout builder block for component name */
.umd-lib-layout.layout--custom .layout-builder-block {
  padding-top: 2.5rem;
}

/* umd lib custom layout */
.umd-lib-layout.layout--custom {
  display: flex;
  flex-direction: row;
}

/* page spacing */
/* between sections */
.umd-lib-layout.layout--custom.vertical-spacing-default {
  margin-bottom: 2rem;
}

.umd-lib-layout.layout--custom.vertical-spacing-small {
  margin-bottom: 1.5rem;
}

.umd-lib-layout.layout--custom.vertical-spacing-large {
  margin-bottom: 3rem;
}

/* sidebar region */
.umd-lib-layout.layout--custom .sidebar-navigation {
  display: none;
}

/* main column region */
.umd-lib-layout.layout--custom .main-column {
  width: 100%;

  display: flex;
  flex-direction: column;
}

/* layout setup - column layout & card group */
.umd-lib-layout.layout--custom .main-column .column.layout--1-column,
.umd-lib-layout.layout--custom .main-column .column.layout--2-column,
.umd-lib-layout.layout--custom .main-column .column.layout--3-column,
.umd-lib-layout.layout--custom .main-column .column.layout--4-column,
.umd-lib-layout.layout--custom
  .main-column
  .layout--1-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--2-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--3-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--4-column
  .card-group-content {
  width: 100%;

  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

.umd-lib-layout.layout--custom
  .main-column
  .layout--1-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--2-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--3-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--4-column
  .card-group-content {
  grid-auto-rows: 1fr;
}

.umd-lib-layout.layout--custom .main-column .col-child,
.umd-lib-layout.layout--custom .main-column .card-group > div {
  min-width: 15rem;
}

.umd-lib-layout.layout--custom .main-column .col-child {
  display: flex;
  flex-direction: column;
}

.umd-lib-layout.layout--custom .sidebar-navigation > div {
  margin-bottom: 1.5rem;
}

/* layout - card group */
.umd-lib-layout.layout--custom
  .main-column
  .card-group.layout--1-column
  .card-group-content {
  grid-template-columns: 1fr;
}

/* section spacing - it should be the same across different group */
/* between rows */
.row.vertical-default {
  margin-bottom: 1rem;
}

.row.vertical-small {
  margin-bottom: 1rem;
}

.row.vertical-large {
  margin-bottom: 2rem;
}

.row.vertical-default:last-child,
.row.vertical-small:last-child,
.row.vertical-large:last-child {
  margin-bottom: 0 !important;
}

/* inside the row - block level */
.row.vertical-default > div.col-child > div > div {
  margin-bottom: 1rem;
}

.row.vertical-small > div.col-child > div > div {
  margin-bottom: 1rem;
}

.row.vertical-large > div.col-child > div > div {
  margin-bottom: 2rem;
}

.row.vertical-default > div.col-child > div > div:last-child,
.row.vertical-small > div.col-child > div > div:last-child,
.row.vertical-large > div.col-child > div > div:last-child {
  margin-bottom: 0 !important;
}

/* between card group */
.card-group.vertical-default {
  margin-bottom: 1rem;
}

.card-group.vertical-small {
  margin-bottom: 1rem;
}

.card-group.vertical-large {
  margin-bottom: 2rem;
}

/* horizontal */
.umd-lib-layout.layout--custom
  .main-column
  .card-group.horizontal-none
  .card-group-content {
  gap: 0rem;
}

.card-group.vertical-default:last-child,
.card-group.vertical-small:last-child,
.card-group.vertical-large:last-child {
  margin-bottom: 0 !important;
}

/* breakpoint */
/* Tablet */
@media (min-width: 768px) {
  .umd-lib-layout.layout--custom .sidebar-navigation {
    display: initial;
    max-width: 17.5rem;
    min-width: 17.5rem;
  }

  /* column / card group - gap */
  .umd-lib-layout.layout--custom .main-column .column.layout--1-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--2-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--3-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--4-column,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--1-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--2-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--3-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--4-column
    .card-group-content {
    gap: 1.5rem;
  }

  /* layout - column */
  .umd-lib-layout.layout--custom .main-column .column.layout--2-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--3-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--4-column {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* layout - card group */
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--2-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--3-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--4-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 1.5rem) / 2)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--2-column.horizontal-none,
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--3-column.horizontal-none,
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--4-column.horizontal-none {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100%) / 2)), 1fr)
    );
  }

  /* page spacing */
  /* between sections */
  .umd-lib-layout.layout--custom.vertical-spacing-default {
    margin-bottom: 2rem;
  }

  .umd-lib-layout.layout--custom.vertical-spacing-small {
    margin-bottom: 1.5rem;
  }

  .umd-lib-layout.layout--custom.vertical-spacing-large {
    margin-bottom: 3rem;
  }

  /* section spacing - it should be the same across different group */
  /* between rows */
  .row.vertical-default {
    margin-bottom: 1.5rem;
  }

  .row.vertical-small {
    margin-bottom: 1rem;
  }

  .row.vertical-large {
    margin-bottom: 2rem;
  }

  /* inside the row - block level */
  .row.vertical-default > div.col-child > div > div {
    margin-bottom: 1.5rem;
  }

  .row.vertical-small > div.col-child > div > div {
    margin-bottom: 1rem;
  }

  .row.vertical-large > div.col-child > div > div {
    margin-bottom: 2rem;
  }

  /* between card group */
  .card-group.vertical-default {
    margin-bottom: 1.5rem;
  }

  .card-group.vertical-small {
    margin-bottom: 1rem;
  }

  .card-group.vertical-large {
    margin-bottom: 2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /* column / card group - gap */
  .umd-lib-layout.layout--custom .main-column .column.layout--1-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--2-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--3-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--4-column,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--1-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--2-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--3-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--4-column
    .card-group-content {
    gap: 1.5rem;
  }

  /* layout - column */
  .umd-lib-layout.layout--custom .main-column .column.layout--3-column {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .umd-lib-layout.layout--custom .main-column .column.layout--4-column {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* layout - card group */
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--2-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 1.5rem) / 2)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--3-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 3rem) / 3)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--4-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 4.5rem) / 4)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--3-column.horizontal-none
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100%) / 3)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--4-column.horizontal-none
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100%) / 4)), 1fr)
    );
  }

  /* page spacing */
  /* between sections */
  .umd-lib-layout.layout--custom.vertical-spacing-default {
    margin-bottom: 4rem;
  }

  .umd-lib-layout.layout--custom.vertical-spacing-small {
    margin-bottom: 2rem;
  }

  .umd-lib-layout.layout--custom.vertical-spacing-large {
    margin-bottom: 6rem;
  }

  /* section spacing - it should be the same across different group */
  /* between rows */
  .row.vertical-default {
    margin-bottom: 2rem;
  }

  .row.vertical-small {
    margin-bottom: 1.5rem;
  }

  .row.vertical-large {
    margin-bottom: 2.5rem;
  }

  /* inside the row - block level */
  .row.vertical-default > div.col-child > div > div {
    margin-bottom: 2rem;
  }

  .row.vertical-small > div.col-child > div > div {
    margin-bottom: 1.5rem;
  }

  .row.vertical-large > div.col-child > div > div {
    margin-bottom: 2.5rem;
  }

  /* between card group */
  .card-group.vertical-default {
    margin-bottom: 2rem;
  }

  .card-group.vertical-small {
    margin-bottom: 1.5rem;
  }

  .card-group.vertical-large {
    margin-bottom: 2.5rem;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  /* column / card group - gap */
  .umd-lib-layout.layout--custom .main-column .column.layout--1-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--2-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--3-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--4-column,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--1-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--2-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--3-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--4-column
    .card-group-content {
    gap: 2rem;
  }

  /* layout - card group */
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--2-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 2rem) / 2)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--3-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 4rem) / 3)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--4-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 6rem) / 4)), 1fr)
    );
  }

  /* page spacing */
  /* between sections */
  .umd-lib-layout.layout--custom.vertical-spacing-default {
    margin-bottom: 5rem;
  }

  .umd-lib-layout.layout--custom.vertical-spacing-small {
    margin-bottom: 3rem;
  }

  .umd-lib-layout.layout--custom.vertical-spacing-large {
    margin-bottom: 7.5rem;
  }
}
