.alert--site_wide {
  background-color: var(--maryland-yellow);

  border-left: 8px solid var(--maryland-red);
}

.alert--in_page .alert--content {
  border: 4px solid var(--maryland-yellow);
}

.alert--content {
  position: relative;
}

.alert--description p {
  font-size: 1rem;
  line-height: 1.375rem;
}

.alert--button-close {
  position: absolute;
  top: 0;
  right: 0;
}
