.alert--site_wide {
  background-color: var(--maryland-yellow);

  border-left: 0.5rem solid var(--maryland-red);
}

.alert--site_wide .alert--title {
  padding-right: 1.5rem;
}

.alert--in_page .alert--content {
  border: 0.25rem solid var(--maryland-yellow);
}

.alert--content {
  position: relative;
}

.alert--button-close {
  position: absolute;
  top: 0;
  right: 0;
}
