.section-intro {
  display: flex;
  flex-direction: column;
}

.section-intro--heading {
  margin-right: 0rem !important;
  margin-bottom: 0.5rem;
}

.section-intro--heading:last-child {
  margin-bottom: 0rem;
}

@media (min-width: 768px) {
  .section-intro {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  .section-intro--heading {
    margin-bottom: 0rem;
  }
}
