{# 
/**
 * @file
 * UMD Libraries Body component.
 *
 * Slots:
 * - heading_text: The section heading text
 * - link_text: Link text (optional)
 * - link_url: Link URL (optional)
 */
 #}

{% if heading_text is defined %}
  <div class="umd-lib section-intro s-margin-heading-medium">
    <h2 class="section-intro--heading t-headline c-content-primary {% if link_text is defined and link_url is defined %}s-inline-large{% endif %}">{% block heading_text %}{% endblock %}</h2>

    {% if link_text is defined and link_url is defined %}
      {% include 'umdlib_umdds:umd-libraries-emphasized-link' with {
          'link_text': link_text,
          'link_url': link_url
        } only %}
    {% endif %}
  </div>

{% else %}
  {# variable error handling #}
  <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Section Intro</div>
  <div class="s-box-small-h"> Required fields missing: <strong>Heading Text</strong></div>
{% endif %}