{# 
/**
 * @file
 * UMD Libraries Body component.
 *
 * Slots:
 * - heading_text: The section heading text
 * - emphasized_link_text: Emphasized link text (optional)
 * - emphasized_link_url: Emphasized link URL (optional)
 */
 #}

{% if heading_text is defined %}
  <div class="section-intro">
    <h2 class="sectoin-intro--heading t-headline t-uppercase c-content-primary {% if button_text is defined and button_url is defined %}s-inline-large{% endif %}">{% block heading_text %}{% endblock %}</h2>
    
    {% if button_text is defined and button_link is defined %}
      {% include 'umdlib_umdds:umd-libraries-emphasized-link' with {
          'emphasized_link_text': emphasized_link_text,
          'emphasized_link_url': emphasized_link_url
        } only %}
    {% endif %}
  </div>

{% else %}
  {# variable error handling #}
  <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Section Intro</div>
  <div class="s-box-small-h"> Required fields missing: <strong>Heading Text</strong></div>
{% endif %}