.subnav.umd-lib a {
  /* remove default style */
  text-decoration: none;
}

.subnav.umd-lib li {
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  border-bottom: 1px solid var(--light-gray);
}

.subnav.umd-lib li.subnav-parent {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.subnav.umd-lib li.subnav-parent span.i-chevron-down {
  display: inline-block;
  transform: rotate(90deg);
}

.subnav.umd-lib li.active-submenu {
  padding-bottom: 0;

  border-bottom: none;
}

.subnav.umd-lib li.active-submenu .active-link {
  padding-bottom: 1rem;

  border-bottom: 1px solid var(--light-gray);
}

.subnav.umd-lib li.active-submenu .active-link .is-active {
  background-image: linear-gradient(
    var(--maryland-yellow),
    var(--maryland-yellow)
  );

  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 2px;
}

.subnav.umd-lib li.active-submenu ul {
  padding-top: 1rem;

  background-color: var(--lighest-gray);
}

.subnav.umd-lib li.active-submenu ul li {
  padding-left: 1rem;
}

.umd-lib.breadcrumb ol,
.umd-lib.breadcrumb ol li {
  display: inline-block;
}

.umd-lib.breadcrumb .breadcrumb-link,
.umd-lib.breadcrumb .breadcrumb--active {
  margin-left: 0.25rem;
}

.umd-lib.breadcrumb ol li:first-child,
.umd-lib.breadcrumb ol li:first-child a {
  margin-left: 0;
}

.umd-lib.breadcrumb ol li a {
  text-decoration: none;

  display: inline;
  position: relative;
  background-position: right bottom;
  background-repeat: no-repeat;
  transition: background 0.5s;
  background-image: linear-gradient(to left, #e6e6e6 50%, #e21833 50% 100%);
  background-size: 200% 2px;
}

.umd-lib.breadcrumb ol li a:hover {
  background-position: left bottom;
}
