/* linkit */
ul.ui-autocomplete li.linkit-result-line {
  background-color: white;
}

/* layout builder */
.block-info,
.region-info {
  display: none;
  font-weight: bold;
  font-size: 0.8rem;
  font-style: italic;
}

.preview .block-info {
  display: block;

  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
}

.preview .region-info {
  display: block;

  padding-left: 1.5rem;
  margin-bottom: 0 !important;
}

.preview .main-column .region-info {
  position: absolute;
}

.preview .main-column .card-group .region-info {
  top: 0rem;
}

/* reset layout for layout builder  */
.layout-builder__layout.umd-lib-layout.layout--custom {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.layout-builder__layout.umd-lib-layout.layout--custom .row {
  margin-bottom: 0rem !important;
}

.layout-builder__layout.umd-lib-layout.layout--custom .card-group {
  padding-top: 1.5rem !important;
  margin-bottom: 1rem !important;
  position: relative;
}

.layout-builder__layout.umd-lib-layout.layout--custom .main-column .col-child {
  margin-top: 1.5rem !important;
}

div.layout-builder__section .layout-builder__add-block {
  height: fit-content;
}

/* layout builder block for component name */
.umd-lib-layout.layout--custom .layout-builder-block {
  padding-top: 2.5rem;
}

/* umd lib custom layout */
.umd-lib-layout.layout--custom {
  display: flex;
  flex-direction: row;
}

.umd-lib-layout.layout--custom {
  margin-bottom: var(--space-md);
}

.umd-lib-layout.layout--custom:last-child {
  margin-bottom: var(--space-2xl);
}

.umd-lib-layout.layout--custom.top-margin {
  margin-top: var(--space-md);
}

.umd-lib-layout.layout--custom.top-margin:first-child {
  margin-top: var(--space-lg);
}

@media (min-width: 768px) {
  .umd-lib-layout.layout--custom {
    margin-bottom: var(--space-lg);
  }

  .umd-lib-layout.layout--custom:last-child {
    margin-bottom: var(--space-3xl);
  }

  .umd-lib-layout.layout--custom.top-margin {
    margin-top: var(--space-lg);
  }

  .umd-lib-layout.layout--custom.top-margin:first-child {
    margin-top: var(--space-xl);
  }
}

/* sidebar region */
.umd-lib-layout.layout--custom .sidebar-navigation {
  display: none;
}

/* main column region */
.umd-lib-layout.layout--custom .main-column {
  width: 100%;

  display: flex;
  flex-direction: column;
}

/* layout setup - column layout & card group */
.umd-lib-layout.layout--custom .main-column .column.layout--1-column,
.umd-lib-layout.layout--custom .main-column .column.layout--2-column,
.umd-lib-layout.layout--custom .main-column .column.layout--3-column,
.umd-lib-layout.layout--custom .main-column .column.layout--4-column,
.umd-lib-layout.layout--custom
  .main-column
  .layout--1-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--2-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--3-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--4-column
  .card-group-content {
  width: 100%;

  display: grid;
  grid-template-columns: auto;
  gap: var(--space-md);
}

.umd-lib-layout.layout--custom
  .main-column
  .layout--1-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--2-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--3-column
  .card-group-content,
.umd-lib-layout.layout--custom
  .main-column
  .layout--4-column
  .card-group-content {
  grid-auto-rows: 1fr;
}

.umd-lib-layout.layout--custom .main-column .col-child,
.umd-lib-layout.layout--custom .main-column .card-group > div {
  min-width: 15rem;
}

.umd-lib-layout.layout--custom .main-column .col-child {
  display: flex;
  flex-direction: column;
}

/* layout - card group */
.umd-lib-layout.layout--custom
  .main-column
  .card-group.layout--1-column
  .card-group-content {
  grid-template-columns: 1fr;
}

/* card group - reset component margin & add section margin */
.umd-lib-layout.layout--custom
  .main-column
  .card-group
  .card-group-content
  > div
  > div {
  margin: 0 !important;
}

.umd-lib-layout.layout--custom .main-column .card-group {
  margin-bottom: var(--space-md);
}

.umd-lib-layout.layout--custom .main-column .card-group:last-child {
  margin-bottom: 0 !important;
}

/* breakpoint */
/* Tablet */
@media (min-width: 768px) {
  .umd-lib-layout.layout--custom .sidebar-navigation {
    display: initial;
    max-width: 17.5rem;
    min-width: 17.5rem;
  }

  /* column / card group - gap */
  .umd-lib-layout.layout--custom .main-column .column.layout--1-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--2-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--3-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--4-column,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--1-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--2-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--3-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .layout--4-column
    .card-group-content {
    gap: var(--space-lg);
  }

  /* layout - column */
  .umd-lib-layout.layout--custom .main-column .column.layout--2-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--3-column,
  .umd-lib-layout.layout--custom .main-column .column.layout--4-column {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* layout - card group */
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--2-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--3-column
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--4-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 2rem) / 2)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--2-column.horizontal-none
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--3-column.horizontal-none
    .card-group-content,
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--4-column.horizontal-none
    .card-group-content {
    gap: 0rem !important;

    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100%) / 2)), 1fr)
    );
  }

  /* card group - add section margin */
  .umd-lib-layout.layout--custom .main-column .card-group {
    margin-bottom: var(--space-lg);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /* layout - column */
  .umd-lib-layout.layout--custom .main-column .column.layout--3-column {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .umd-lib-layout.layout--custom .main-column .column.layout--4-column {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* layout - card group */
  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--2-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 2rem) / 2)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--3-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 4rem) / 3)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--4-column
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100% - 6rem) / 4)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--2-column.horizontal-none
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100%) / 2)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--3-column.horizontal-none
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100%) / 3)), 1fr)
    );
  }

  .umd-lib-layout.layout--custom
    .main-column
    .card-group.layout--4-column.horizontal-none
    .card-group-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, calc((100%) / 4)), 1fr)
    );
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
}
