.text-callout--text {
  padding-left: 1rem;
  border-left: 2px solid #e21833;
}

.text-callout--text p {
  color: var(--black);
}

.text-callout--text:last-child {
  margin-bottom: 0rem !important;
}
