{# 
/**
 * @file
 * UMD Libraries List component.
 *
 * Available slots:
 * - text_callout__text_slot: The text-callout text.
 *
*/
#}

{% if text_callout__text_slot is defined %}
  <div class="umd-lib text-callout--feature c-bg-secondary s-box-medium-v s-box-medium-h s-margin-general-medium" role="region" aria-label="text callout" id="{{ component_id | default('') }}">
    <div class="text-callout--text wysiwyg-editor">
      {{ text_callout__text_slot }}
    </div>
  </div>
{% else %}
  {# variable error handling #}
  {% set errors = [] %}

  {% if text_callout__text_slot is not defined %}
    {% set errors = errors | merge(['Text Callout Text']) %}
  {% endif %}

  {% if errors is not empty %}
   <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Text Callout</div>
    <div class="s-box-small-h"> Required fields missing: <strong>{{ errors | join(', ') }}</strong></div>
  {% endif %}
{% endif %}
