{# 
/**
  * @file
  * UMD Libraries Accordions component.
  *
  * Variables:
  * - accordion_child_slot: The slot for the child content.
  */
 #}

{% if accordion_child_slot is defined %}
  <div class="umd-lib accordion--container s-margin-general-medium">
    {% block accordion_child_slot %} {% endblock %}
  </div>
{% else %}
  {# variable error handling #}
  {% if accordion_child_slot is not defined %}
    <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Accordions</div>
    <div class="s-box-small-h"> Required fields missing: <strong>Accordion (UMD Libraries Accordion)</strong></div>
  {% endif %}
{% endif %}