{# 
/**
 * @file
 * UMD Libraries Tab Trigger component.
 *
 * Available props:
 * - tab_value: The value of the tab.
 * 
 * Available slots:
 * - tab_label: The label of the tab.
 */
#}

{% if tab_value is defined and tab_label is defined %}
  <h3>
    <button 
          class="tab--trigger t-interactive c-content-tertiary" 
          id="tab-{{ tab_value }}" 
          type="button" 
          role="tab" 
          aria-controls="tabpanel-{{ tab_value }}"
      <span class="focus">{{ tab_label }}</span>
    </button>
  </h3>

{% else %}
  {# variable error handling #}
  {% set errors = [] %}

  {% if tab_value is not defined %}
    {% set errors = errors | merge(['Tab Value']) %}
  {% endif %}

  {% if tab_label is not defined %}
    {% set errors = errors | merge(['Tab Label']) %}
  {% endif %}

  {# Log the errors #}
  {% if errors is not empty %}
    <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Tab Trigger</div>
    <div class="s-box-small-h"> Required fields missing: <strong>{{ errors | join(', ') }}</strong></div>
  {% endif %}
{% endif %}