.card--image img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.card--content {
  height: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.card--eyebrow {
  margin-bottom: var(--space-xs);
}

.card--headline a span {
  display: inline-block;
  min-width: 1rem;
  max-width: 1rem;
  background-position-y: 0px;
  background-position-x: -2px;
}

.card--details {
  margin-bottom: auto;
}

.card--text p {
  font-size: 1rem;
  line-height: 1.375rem;
}

/* icon card */
.umd-lib.card.card--icon {
  height: 100%;
  position: relative;
}

.card--content-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--content-text {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  .card--details {
    margin-bottom: 0rem;
  }
}

.card--icon-lucide {
  height: 4rem;
  width: 4rem;
}

.card--icon .card--content {
  flex-direction: row;
  gap: 0.5rem;
}

.umd-lib.card.card--icon .card--content .card--title .card--link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card--icon .card--content .card--text {
  margin-bottom: 0 !important;
}

.card--icon .card--content .card--text p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .umd-lib.card {
    max-width: 45rem;
  }
}
