.card--image img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.card--content {
  height: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.card--eyebrow {
  margin-bottom: var(--space-xs);
}

.card--details {
  margin-bottom: auto;
}

.card--text p {
  font-size: 1rem;
  line-height: 1.375rem;
}

/* icon card */
.umd-lib.card.card--icon {
  height: 100%;
}

.card--content-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--content-text {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  .card--details {
    margin-bottom: 0rem;
  }
}

.card--icon-lucide {
  height: 4rem;
  width: 4rem;
}

.card--icon .card--content {
  flex-direction: row;
  gap: 0.5rem;
}

.card--icon .card--content .card--text {
  margin-bottom: 0 !important;
}

.card--icon .card--content .card--text p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .umd-lib.card {
    max-width: 45rem;
  }
}
