/* need to update the width */
footer {
  width: 100%;
}

footer a {
  color: var(--light-gray);
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: var(--light-gray);
}

footer ul,
footer ol {
  padding: 0;
  margin: 0;
}

footer li {
  list-style: none;
}

.footer--content,
.footer--sub-content {
  /* 1440+120*2 */
  max-width: 1680px;
}

.footer--content {
  display: flex;
  flex-direction: column;
}

.footer--header {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.footer--columns {
  display: flex;
  flex-direction: column;
}

.footer--columns-main {
  flex-grow: 1;
}

.footer--columns-main nav,
.footer--columns-main > div {
  break-inside: avoid;
}

.footer--columns-main ul {
  border-left: 1px solid #454545;
}

.footer--columns-secondary-item {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.footer--sub-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.footer--sub ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.social-media-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

ul.social-media-list li {
  margin-bottom: 0rem;
}

.social-media-list-item {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

/* center social icon */
.social-media-list-item img,
.social-media-list-item svg {
  margin: auto;
}

/* breakpoint */
/* Tablet */
@media (min-width: 768px) {
  .footer--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-lg);
    margin-bottom: var(--space-xl) !important;
  }

  .footer--columns {
    gap: var(--space-lg);
  }

  .footer--columns-main {
    flex-grow: 1;

    column-width: 18rem;
    column-gap: var(--space-xl);
  }

  .footer--columns-secondary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer--sub-content {
    flex-direction: row;
  }

  .footer--sub ul {
    flex-direction: row;
  }

  .footer--sub ul li {
    display: flex;
  }

  .footer--sub ul li:not(:first-child),
  .footer--sub > div > div {
    padding-left: var(--space-sm);
    border-left: 1px solid #454545;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .footer--columns {
    flex-direction: row;
    align-items: flex-end;
    gap: 0rem;
  }

  .footer--columns-main {
    column-width: 16rem;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  .footer--columns {
    gap: var(--space-lg);
  }
}
