.hero--minimal,
.hero--overlay {
  display: flex;
  flex-direction: column;
  width: auto;
}

.hero--minimal .hero--container,
.hero--overlay .hero--container {
  width: 100%;
  max-width: 1680px;
  z-index: 2;
  order: 2;
}

.hero--minimal .hero--image,
.hero--overlay .hero--image {
  width: auto;
  height: 100%;
  z-index: 0;
  order: 1;
}

.hero--minimal .hero--image figure,
.hero--overlay .hero--image figure {
  height: 100%;
  width: 100%;

  position: relative;
}

.hero--minimal .hero--image figure img,
.hero--overlay .hero--image figure img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.hero--minimal .hero--image figure figcaption,
.hero--overlay .hero--image figure figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;

  padding: 0.25rem 0.5rem;

  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  text-align: end;
  z-index: 3;
}

.hero--minimal .hero--image figure figcaption *,
.hero--overlay .hero--image figure figcaption * {
  color: #ffffff;
}

.hero--minimal .hero--image figure figcaption a,
.hero--overlay .hero--image figure figcaption a {
  color: #ffd200;
}

.hero--minimal .hero--content .hero--headline:last-child,
.hero--overlay .hero--content .hero--headline:last-child {
  margin-bottom: 0rem !important;
}

/* variant - minimal */
.hero--minimal .hero--content {
  width: auto;
  border-left: 2px solid var(--maryland-red);
}

/* variant - overlay */
.hero--overlay .hero--eyebrow {
  color: #000000;

  background-color: #ffd200;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%);
}

.hero--overlay .hero--eyebrow p {
  color: #000;
}

.hero--overlay.dark-theme .hero--content a {
  color: #ffffff !important;
  background-color: #e21833 !important;
}

/* breakpoint */
/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
  .hero--minimal,
  .hero--overlay {
    position: relative;
  }
  .hero--minimal .hero--container,
  .hero--overlay .hero--container {
    position: relative;
  }

  .hero--minimal .hero--image {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }

  .hero--overlay .hero--image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .hero--minimal .hero--content,
  .hero--overlay .hero--content {
    width: 50%;
  }

  .hero--minimal .hero--content.text-only,
  .hero--overlay .hero--content.text-only {
    width: 100%;
  }

  /* variant - overlay */
  .hero--overlay .hero--image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(250, 250, 250, 1) 40%,
      rgba(250, 250, 250, 0.8) 50%,
      rgba(250, 250, 250, 0) 75%
    );
    z-index: 1;
  }

  .hero--overlay.dark-theme .hero--image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0) 75%
    );
    z-index: 1;
  }

  .hero--minimal .hero--image figure figcaption,
  .hero--overlay .hero--image figure figcaption {
    max-width: 100%;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
}
