.umd-lib.image {
  width: 100%;
  height: auto;
  display: block;
}

.umd-lib.image .image--image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.umd-lib.image .image--image.freeform {
  aspect-ratio: auto;
}

.umd-lib.image .image--image.one_to_one {
  aspect-ratio: 1 / 1;
}

.umd-lib.image.landscape .image--image.four_to_three {
  aspect-ratio: 4 / 3;
}

.umd-lib.image.landscape .image--image.three_to_two {
  aspect-ratio: 3 / 2;
}

.umd-lib.image.landscape .image--image.sixteen_to_nine {
  aspect-ratio: 16 / 9;
}

.umd-lib.image.portrait .image--image.four_to_three {
  aspect-ratio: 3 / 4;
}

.umd-lib.image.portrait .image--image.three_to_two {
  aspect-ratio: 2 / 3;
}

.umd-lib.image.portrait .image--image.sixteen_to_nine {
  aspect-ratio: 9 / 16;
}

.umd-lib.image .image--caption {
  text-align: center;
}

.umd-lib.image .image--caption > *:first-child {
  padding-top: var(--space-xs);
}

/* tablet */
@media (min-width: 768px) {
  .umd-lib.image .image--caption > *:first-child {
    padding-top: var(--space-sm);
  }
}
