.list {
  border-bottom: solid 1px var(--light-gray);
}

.list--title-section {
  margin-bottom: 0.75rem;
}

.list--eyebrow {
  margin-bottom: 0.5rem;
}

.list--details {
  display: flex;
  gap: 0.5rem;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.list--information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list--description {
  margin-bottom: 0.5rem;
}

.list--image {
  order: 1;
}

.list--image img {
  aspect-ratio: 4/3;
  object-fit: cover;
}

/* breakpoint */
/* Tablet */
@media (min-width: 768px) {
  .list--details {
    gap: 1em;
    flex-direction: row;
    justify-content: space-between;
  }

  .list--image img {
    height: 10rem;
    min-width: 17rem;
    aspect-ratio: 16/9;
  }
}

/* Desktop */
@media (min-width: 1024px) {
}

/* Large Desktop */
@media (min-width: 1440px) {
}
