.umd-lib.list {
  border-bottom: solid 1px var(--light-gray);
  padding-top: 0rem !important;

  padding: var(--space-md) 0rem;

  position: relative;
}

.umd-lib.list .list--eyebrow {
  margin-bottom: 0.5rem;
}

.umd-lib.list .list--title h2 a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.umd-lib.list .list--details {
  display: flex;
  gap: 0.5rem;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.umd-lib.list .list--information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.umd-lib.list .list--content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.umd-lib.list .list--description {
  margin-bottom: 0.5rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
}

.umd-lib.list .list--image img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

/* breakpoint */
/* Tablet */
@media (min-width: 768px) {
  .umd-lib.list {
    padding: var(--space-lg) 0rem;
  }

  .umd-lib.list .list--details {
    gap: 1em;
    flex-direction: row;
    justify-content: space-between;
  }

  .umd-lib.list .list--image img {
    height: 10rem;
    min-width: 17rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
}

/* Large Desktop */
@media (min-width: 1440px) {
}
