.person--card {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.person--card-image img {
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.person--card-info-core {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* breakpoint */
/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
}

/* Large Desktop */
@media (min-width: 1440px) {
}
