{# 
/**
 * @file
 * UMD Libraries List component.
 *
 * Available slots:
 * - quote_text_slot: The quote text.
 * - quote_author_name: The author of the quote.
 * - quote_author_title: The title of the author.
 * 
 * Props:
 * - theme: The theme of the quote ('dark' or 'light').
 * - variant: The quote variant ('feature' or 'simple').
*/
#}

{% if quote_text_slot is defined and quote_author_name is defined %}
  <div class="umd-lib quote--feature {% if theme == 'light' %}c-bg-secondary{% else %}c-bg-primary dark-theme{% endif %} s-box-large-v s-box-large-h s-margin-general-medium" role="region" aria-label="quote" id="{{ component_id | default('') }}">
    {# Feature variant has background graphics #}
    {% if variant == 'feature' %}
      <div class="quote--background" aria-hidden="true">
        {% if theme == 'light' %}
          <svg class="quote--background-1" xmlns="http://www.w3.org/2000/svg" width="684" height="288" viewBox="0 0 684 288" fill="none">
            <path opacity="0.04" d="M-457.671 890.15L683.654 -212.015L566.325 -454L-575 648.165L-457.671 890.15Z" fill="black"/>
          </svg>
          <svg class="quote--background-2" xmlns="http://www.w3.org/2000/svg" width="1034" height="288" viewBox="0 0 1034 288" fill="none">
            <path opacity="0.06" d="M-107.74 -424.511L1033.58 677.654L916.256 919.639L-225.07 -182.526L-107.74 -424.511Z" fill="black"/>
          </svg>
        {% else %}
          <svg class="quote--background-1" xmlns="http://www.w3.org/2000/svg" width="684" height="288" viewBox="0 0 684 288" fill="none">
            <path opacity="0.08" d="M-457.671 890.15L683.654 -212.015L566.325 -454L-575 648.165L-457.671 890.15Z" fill="white"/>
          </svg>
          <svg class="quote--background-2" xmlns="http://www.w3.org/2000/svg" width="1034" height="288" viewBox="0 0 1034 288" fill="none">
            <path opacity="0.16" d="M-107.74 -424.511L1033.58 677.654L916.256 919.639L-225.07 -182.526L-107.74 -424.511Z" fill="white"/>
          </svg>
        {% endif %}
      </div>
    {% endif %}
    <div class="quote--icon i-quote"></div>
    <div class="quote--content">
      <div class="quote--text t-title-medium s-stack-small">
        {{ quote_text_slot }}
      </div>
      <div class="quote--author c-content-secondary">
        <span class="quote--name t-body-medium">{% block quote_author_name %}{% endblock %}</span>
        {% if quote_author_title is defined %}
          <span class="quote--title t-label">{% block quote_author_title %}{% endblock %}</span>
        {% endif %}
      </div>
    </div>
  </div>
{% else %}
  {# variable error handling #}
  {% set errors = [] %}

  {% if quote_text_slot is not defined %}
    {% set errors = errors | merge(['Quote Text']) %}
  {% endif %}

  {% if quote_author_name is not defined %}
    {% set errors = errors | merge(['Name']) %}
  {% endif %}

  {% if errors is not empty %}
   <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Quote</div>
    <div class="s-box-small-h"> Required fields missing: <strong>{{ errors | join(', ') }}</strong></div>
  {% endif %}
{% endif %}
