{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
  <nav class="umd-lib breadcrumb s-margin-general-medium" aria-label="Breadcrumb">
    <ol class="breadcrumb">
      {% for item in breadcrumb %}
        <li class="breadcrumb-item">
          {% if not loop.first %}
            <span class="breadcrumb-separator t-label c-content-tertiary" aria-hidden="true">/</span>
          {% endif %}
          {% if item.url %}
            <a href="{{ item.url }}" class="breadcrumb-link t-label c-content-tertiary" aria-label="{{ item.text }} page">
              {{ item.text }}
            </a>
          {% else %}
            <span class="breadcrumb--active breadcrumb-current t-label c-content-primary" aria-current="page">
              {{ item.text }}
              <span class="sr-only">(current page)</span>
            </span>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}