.button--secondary {
  width: fit-content;

  text-decoration: none;
}

.button--secondary a {
  text-decoration: none;
}

.button--secondary a:hover,
.button--secondary a:focus {
  color: initial;
}
