<div class="navigation">
  <div
    class="navigation__content s-box-page-default-h s-box-page-small-v s-center"
  >
    <div class="navigation__header">
      <div class="navigation__logo">
        <a href="/"
           title="University Libraries Home"
           class="navigation__logo-link"
           aria-label="University Libraries Home">
          <img
            alt="University Libraries"
            loading="lazy"
            width="270"
            height="81"
            decoding="async"
            data-nimg="1"
            style="color: transparent"
            src="/{{ active_theme_path() }}/logo.svg"
          />
        </a>
      </div>
    </div>
    <button
      class="navigation__menu-button"
      aria-expanded="false"
      aria-controls="navigation"
    >
      <span class="navigation__menu-icon"></span>
    </button>
    <div class="navigation__rows">
      <div class="navigation__row-main">
        {% block main_navigation_slot %}{% endblock %}
      </div>
      <div class="navigation__row-sec">
        {% block utility_navigation_slot %}{% endblock %}
      {% block search_slot %}{% endblock %}
    </div>
    </div>
  </div>
</div>
