/* Base style */
.navigation {
  width: 100%;
}

/* remove default style */
.navigation ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.navigation a {
  text-decoration: none;
  color: var(--black);
}

.navigation a:hover,
.navigation a:focus {
  text-decoration: none;
  color: var(--maryland-red);
}

.navigation button {
  min-width: 24px;
  min-height: 24px;

  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

/* Header */
.navigation__content {
  max-width: 1680px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navigation__logo {
  height: 4rem;
}

.navigation__logo img {
  height: 100%;
  width: fit-content;
}

/* Menu button and icon */
.navigation__menu-button {
  height: 24px;
  width: 24px;

  display: block;

  position: relative;
}

.navigation__menu-icon,
.navigation__menu-icon::before {
  width: 24px;
  height: 2px;

  content: "";
  position: absolute;

  transition: left 0s, width 0s, top 0.2s, transform 0.2s;

  background-color: var(--black);
}

.navigation__menu-icon::after {
  width: 16px;
  height: 2px;

  content: "";
  position: absolute;

  transition: left 0s, width 0s, top 0.2s, transform 0.2s;

  background-color: var(--black);
}

.navigation__menu-icon {
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.navigation__menu-icon::before {
  top: -8px;
  left: 0;
}

.navigation__menu-icon::after {
  bottom: -8px;
  left: 8px;
}

.navigation__menu-button.is-active .navigation__menu-icon {
  background: transparent;
}

.navigation__menu-button.is-active .navigation__menu-icon::before {
  top: 0;
  transform: rotate(45deg);
}

.navigation__menu-button.is-active .navigation__menu-icon::after {
  width: 24px;

  top: 0;
  left: 0;

  transform: rotate(-45deg);
}

/* chevron icon style */
.navigation span.i-chevron-down {
  display: block;

  transform: rotate(270deg);
  transition: all 0.3s ease;
}

.navigation span.i-chevron-down:hover,
.navigation span.i-chevron-down:focus {
  transform: translateX(4px) rotate(270deg);
}

/* Navigation rows and menu items */
.navigation__rows {
  width: 100%;
  height: calc(100vh - 96px - 56px);

  padding: 1.5rem;

  position: fixed;
  /* dropdown position */
  top: calc(
    96px + 56px
  ); /* 96px for navigation height, 56px for the umd school width branding */
  left: 0;

  transform: translateX(-100%);
  transition: transform 0.3s ease;

  background-color: var(--white);
  border-bottom: 8px solid var(--maryland-red);

  overflow: hidden;
  overflow-y: auto;
  z-index: 998;
}

.navigation__rows.is-open {
  transform: translateX(0);
}

.navigation__rows.is-open.submenu-open {
  overflow-y: hidden;
}

/* Menu items - Main & Secondary */
/* 1st level menu */
.navigation__menu-item {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: solid 1px var(--light-gray);
}

/* secondary menu list item */
.navigation__row-sec .navigation__menu-item {
  padding-bottom: 0rem;
  margin-bottom: 1.5rem;

  border-bottom: none;
}

.navigation__menu-link,
.navigation__site-search {
  font-size: 1.125rem;
  font-weight: 700;
}

/* secondary menu */
.navigation__row-sec .navigation__menu-link {
  font-size: 1rem;
  font-weight: 400;
}

.navigation__row-sec .navigation__menu-item:last-child {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;

  border-bottom: solid 1px var(--light-gray);
}

/* site search button */
.navigation__site-search {
  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation__site-search-button {
  display: flex;
}

/* 2nd level menu */
/* submenu */
.navigation__submenu {
  width: 100%;
  height: 100%;

  padding: 1.5rem;

  display: none;
  position: fixed;
  top: 0;
  left: 0;

  transform: translateX(100%);
  transition: transform 0.3s ease;
  background-color: var(--white);

  overflow-y: auto;
  z-index: 999;
}

/* submenu animation */
.navigation__submenu.is-open {
  display: block;
}

.navigation__submenu.is-open.is-active,
.navigation__dropdown.is-open.is-active {
  transform: translateX(0);
  overflow: hidden;
}

.navigation__submenu.is-open.is-active {
  overflow-y: auto;
}

.navigation__submenu-content {
  padding: 0rem 1rem;
}

.navigation .navigation__back-button span.i-chevron-down {
  display: block;

  transform: rotate(90deg);
  transition: all 0.3s ease;
}

/* submenu header */
.navigation__submenu-header {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;

  border-bottom: solid 1px var(--light-gray);
}

/* back button */
.navigation__back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  text-transform: uppercase;
}

/* submenu title */
.navigation__submenu-title {
  margin-bottom: 1.5rem;

  font-size: 1.125rem;
  font-weight: 700;
}

/* submenu item */
.navigation__submenu-item {
  padding-left: 1rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  margin-bottom: 1rem;

  border-bottom: none;
}

/* utility navigation */
.navigation__utility_locations-hours,
.navigation__utility_system-status {
  padding: 1rem;

  background-color: var(--lighest-gray);
}

.navigation__utility_time {
  margin-bottom: 1rem;
}

.navigation__utility_branch-item {
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
}

.navigation__utility_branch-hours {
  text-align: end;
}

.navigation a.navigation__utility_branch-name {
  color: var(--dark-gray);
  text-decoration: underline;
}

.navigation a.navigation__utility_branch-name:hover,
.navigation a.navigation__utility_branch-name:focus {
  color: var(--maryland-red);
}

.navigation__utility_description > * {
  margin-bottom: 0.5rem;
}

.navigation__utility_system-status-item {
  margin-bottom: 1rem;
}

.navigation__utility_system-status-item:last-child {
  margin-bottom: 0rem;
}

.navigation__utility_system-status-item-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__utility_system-status-item-icon {
  width: 1.5rem;
  height: 1.5rem;

  margin-right: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* utility navigation - WYSIWYG content */
.navigation__submenu-content p {
  padding: 1.5rem;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12rem; /* 128% */

  background-color: var(--lighest-gray);
}

.navigation__utility_locations-hours p,
.navigation__utility_system-status p {
  padding: initial;
}

@media (min-width: 768px) {
  .navigation__utility_branch-item {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* custom breakpoint for navigation */
/* for UMD Universal Header height change */
@media (min-width: 1100px) {
  /* Navigation rows and menu items */
  .navigation__rows {
    height: calc(100vh - 96px - 44px);
    /* dropdown position */
    top: calc(
      96px + 44px
    ); /* 96px for navigation height, 44px for the umd school width branding */
  }
}

/* show all links */
@media (min-width: 1240px) {
  /* hide menu icon */
  .navigation__menu-button {
    display: none;
  }

  /* show all links */
  .navigation__rows {
    width: initial;
    height: initial;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    padding: 0rem;

    position: initial;

    transform: translateX(0%);

    background-color: var(--white);
    border-bottom: none;

    overflow-x: unset;
    overflow-y: unset;
  }

  /* Menu items - Main & Secondary */
  /* 1st level menu */
  /* general */
  .navigation__row-sec {
    margin-bottom: 1rem;
  }

  /* menu list */
  .navigation__menu-list,
  .navigation__secmenu-list {
    display: flex;
    flex-direction: row;

    gap: 1.5rem;
  }

  /* menu item */
  .navigation__menu-item {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;

    justify-content: initial;

    position: relative;

    border-bottom: none;
  }

  /* item link */
  .navigation__menu-link {
    margin-right: 0.5rem;
  }

  /* item button */
  .navigation span.i-chevron-down {
    transform: rotate(0deg);
  }

  .navigation .navigation__menu-item:hover span.i-chevron-down,
  .navigation .navigation__menu-item:hover span.i-chevron-down {
    transform: rotate(180deg);
  }

  /* secondary menu list */
  .navigation__row-sec {
    display: flex;
    flex-direction: row;
  }

  .navigation__secmenu-list {
    height: 17px;
    gap: 1rem;
  }

  /* secondary menu item */
  .navigation__row-sec .navigation__menu-item {
    padding-left: 1rem;
    margin-bottom: 0rem;

    border-left: solid 1px var(--dark-gray);
  }

  .navigation__row-sec .navigation__menu-item:first-child {
    padding-left: 0rem;

    border-left: none;
  }

  .navigation__row-sec .navigation__menu-item:last-child {
    margin-right: 1rem;
  }

  /* secondary menu */
  .navigation__row-sec .navigation__menu-link {
    margin-right: 0rem;

    font-size: 0.875rem;
    font-weight: 400;
    line-height: 0.875rem;
  }

  .navigation__row-sec .navigation__menu-item:last-child {
    padding-bottom: 0rem;
    margin-bottom: 0rem;

    border-bottom: none;
  }

  .navigation__row-sec .navigation__submenu-button {
    display: none;
  }

  /* 2nd level menu animation */
  .navigation__menu-item:hover .navigation__submenu,
  .navigation__menu-item:focus .navigation__submenu {
    display: block;
  }

  /* site search button */
  .navigation__site-search {
    padding-left: 1rem;
    padding-right: 0rem;

    flex-direction: row-reverse;

    justify-content: initial;

    font-size: 0.875rem;
    font-weight: 400;
    line-height: 0.875rem;

    border-left: solid 1px var(--dark-gray);
  }

  button.navigation__site-search-button {
    min-width: 17px;
    min-height: 17px;
  }
  button.navigation__site-search-button span {
    width: 17px;
    height: 17px;

    background-size: 90%;
    background-position-x: -2px;
    background-position-y: -1px;
  }

  /* 2nd level menu */
  /* submenu */
  .navigation__submenu {
    width: fit-content;
    height: unset;

    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 1rem;
    padding-bottom: 0rem;

    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s;
    overflow-y: unset;
  }

  /* revisit - align on the right, desired style */
  .navigation__submenu:last-child {
    left: unset;
    right: 0;
    transform: translateX(0%);
  }

  .navigation__row-sec .navigation__submenu {
    left: unset;
    right: 0;
    transform: translateX(0%);
  }

  /* hide header */
  .navigation__submenu-header,
  .navigation__submenu-title {
    display: none;
  }

  ul.navigation__submenu-list {
    padding: 1.5rem;
  }

  /* submenu content */
  .navigation__submenu-content {
    padding: 0rem;

    border-top: 2px solid var(--maryland-red);
    box-shadow: -1px 9px 32px -10px rgba(0, 0, 0, 0.19);
  }

  /* submenu item */
  .navigation__submenu-item {
    width: max-content;
    min-width: 7.5rem;
    max-width: 14.375rem;

    padding-left: 0rem;
    margin-bottom: 1.5rem;
  }

  .navigation__submenu-item:last-child {
    margin-bottom: 0rem;
  }

  /* submenu item link*/
  .navigation__submenu-link {
    width: fit-content;

    display: inline;
  }

  /* utility navigation */
  #locations_hours .navigation__submenu-content ul.navigation__submenu-list,
  #system-status .navigation__submenu-content ul.navigation__submenu-list {
    box-shadow: none;
  }

  .navigation__menu-item.utility-content .navigation__submenu {
    width: 33rem;
  }

  #locations-hours .navigation__submenu {
    width: 33rem;
  }

  #system-status .navigation__submenu {
    width: 20rem;
  }

  .navigation__utility_locations-hours,
  .navigation__utility_system-status {
    padding: 1.5rem;
  }
}
