{#
/**
 * @file
 * UMD Libraries Emphasized Link component.
 *
 * Variables:
 * - link_text: The text to display on the link
 * - link_url: The URL the link points to
 */
#}

{# Only render the link if we have both a URL and text #}
{% if link_url is defined and link_text is defined %}
    <div class="umd-lib emphasized-link {% if bottom_margin == true %}s-margin-general-medium{% endif %}" id="{{ component_id | default('') }}">
      <a href="{{ link_url }}" class="emphasized-link--text t-body-small t-interactive-sub c-content-primary c-underline-primary ani-underline">
        <span class="i-chevron"></span>{{ link_text }}
      </a>
    </div>

{% else %}
  {# variable error handling #}
  {% set errors = [] %}

  {% if link_url is not defined %}
    {# If the link URL is not defined, log an error #}
    {% set errors = errors | merge(['Link URL']) %}
  {% endif %}
  {% if link_text is not defined %}
    {# If the link text is not defined, log an error #}
    {% set errors = errors | merge(['Link Text']) %}
  {% endif %}

  {# Log the errors #}
  {% if errors is not empty %}
    <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Emphasized Link</div>
    <div class="s-box-small-h"> Required fields missing: <strong>{{ errors | join(', ') }}</strong></div>
  {% endif %}
{% endif %}