.emphasized-link {
  width: fit-content;
  text-decoration: none;
}

.emphasized-link a {
  text-decoration: none;
}

.emphasized-link a span {
  display: inline-block;

  min-width: 1rem;
  max-width: 1rem;

  margin-right: 0.125rem;
}

.emphasized-link a:hover,
.emphasized-link a:focus {
  color: initial;
}
