.btn--primary {
  display: inline-block;
  padding: 0.75rem 2rem;
  text-decoration: none;
}

.btn--primary:hover,
.btn--primary:focus {
  color: var(--white);
}

.btn--secondary {
  width: fit-content;
  text-decoration: none;
}

.btn--secondary a {
  text-decoration: none;
}

.btn--secondary a:hover,
.btn--secondary a:focus {
  color: initial;
}
