<button class="t-body-small
               t-interactive-sub
               button--primary
               c-content-interactive-primary
               c-bg-interactive-primary
               {% if button_state == 'disabled' %}
                 button--disabled
               {% endif %}
               ani-background">
  {{ button_text }}
</button>