.button--primary {
    display: inline-block;
    padding: 0.75rem 2rem;
  }
  
  .button--secondary {
    display: flex;
    flex-direction: row;
  }
  
  .button--disabled {
    cursor: not-allowed;
  }
  
  /* note: requrie integratation into globals.css */
  button.button--disabled,
  button.button--disabled:hover,
  button.button--disabled:focus {
    color: var(--medium-gray);
    border: 1px solid var(--light-gray);
    background-color: var(--light-gray);
  }
  
  a.button--disabled {
    color: var(--medium-gray);
    background: none;
  }