{# 
/**
  * @file
  * UMD Libraries Accordion component.
  *
  * Variables:
  * - title: The title of the accordion
  * - default_open: Whether the accordion should be open by default
  * - body: The content of the accordion
  * - link_text: The text to display on the link
  * - link_url: The URL the link points to
  */
 #}



{% if title is defined and body is defined %}
<div class="accrodion-child--container">
  <h3>
    <button class="accordion-child--headline c-bg-secondary" aria-expanded="{{ default_open ? 'true' : 'false' }}">
      <span class="t-interactive c-content-primary">{% block title %}{% endblock %}</span>
    </button>
  </h3>
  <div
    class="accordion-child--body-wrapper c-bg-secondary"
    aria-hidden="{{ default_open ? 'false' : 'true' }}"
    {% if default_open %} style="height: 100%;" 
    {% else %} style="display: none;" 
    {% endif %}
  >
    <div class="accordion-child--body wysiwyg-editor">
      {% block body %} {% endblock %}
    </div>
    {% if link_text and link_url %}
      <div class="accordion-child--body-button">
        {% include 'umdlib_umdds:umd-libraries-emphasized-link' with {
        'variant': 'secondary',
        'link_text': link_text,
        'link_url': link_url
        } only %}
      </div>
    {% endif %}
  </div>
</div>
{% else %}
  {% set errors = [] %}

  {% if title is not defined %}
    {% set errors = errors | merge(['Accordion Title']) %}
  {% endif %}

  {% if body is not defined %}
    {% set errors = errors | merge(['Accordion Body']) %}
  {% endif %}

  {% if link_text is not defined and link_url is defined %}
    {% set errors = errors | merge(['Link Text']) %}
  {% endif %}

  {% if link_text is defined and link_url is not defined %}
    {% set errors = errors | merge(['Link URL']) %}
  {% endif %}

  {# Log the errors #}
  {% if errors is not empty %}
   <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Accordion</div>
    <div class="s-box-small-h"> Required fields missing: <strong>{{ errors | join(', ') }}</strong></div>
  {% endif %}
{% endif %}