div:has(> table.umd-lib.table--container) {
  overflow-x: auto;
}

.table--container {
  width: 100%;

  caption-side: bottom;
}

.table--container caption {
  padding-top: 1rem;
}

.table--header {
  border-top: 1px solid var(--white);
}

.table--header tr > *,
.table--header tr p {
  color: var(--white);
}

.table--header .table--body-row {
  border: none;
}

.table--header .table--body-row:hover,
.table--header .table--body-row:focus {
  background-color: initial;
}

.table--body-row {
  border-bottom: 1px solid var(--light-gray);
}

.table--body-row:hover,
.table--body-row:focus {
  background-color: var(--lightest-gray);
}

.table--body-row .table--cell,
.table--footer-row .table--cell {
  vertical-align: top;
}

.table--footer .table--body-row:hover,
.table--footer .table--body-row:focus {
  background-color: initial;
}
