.table--container {
  width: 100%;

  caption-side: bottom;
}

.table--container caption {
  padding-top: 1rem;
}

.table--header {
  border-top: 1px solid var(--white);
}

.table--header tr > *,
.table--header tr p {
  color: var(--white);
}

.table--body-row {
  border-bottom: 1px solid var(--light-gray);
}

.table--body-row:hover,
.table--body-row:focus {
  background-color: var(--lighest-gray);
}

.table--body-row .table--cell,
.table--footer-row .table--cell {
  vertical-align: top;
}
