{# 
/**
 * @file
 * UMD Libraries Table component.
 *
 * Slots:
 * - table_caption: The caption of the table
 * - table_header_slot: The header of the table
 * - table_content_slot: The content of the table
 * - table_footer_slot: The footer of the table
 */
#}



{% if table_header_slot is defined %}
  <table class="table--container">
    <caption class="table--caption s-box-small-h t-body-small">{% block table_caption %}{% endblock %}</caption>
    <thead class="table--header t-title-small c-bg-dark-primary c-content-dark-primary">
      <tr class="table--header-row">
        {% block table_header_slot %}{% endblock %}
      </tr>
    </thead>
  {% if table_content_slot %}
    <tbody class="table--body c-bg-primary c-content-secondary">
      {% block table_content_slot %}{% endblock %}
    </tbody>
  {% endif %}
  {% if table_footer_slot %}
    <tfoot class="table--footer c-bg-tertiary c-content-secondary s-stack-small">
      <tr class="table--footer-row">
        {% block table_footer_slot %}{% endblock %}
      </tr>
    </tfoot>
  {% endif %}
  </table>
{% else %}
  {# variable error handling #}
    <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Table</div>
    <div class="s-box-small-h"> Required fields missing: <strong>Table Header (UMD Libraries Table Cell)</strong></div>
{% endif %}