.umd-lib.event {
  display: flex;
  flex-direction: row;

  padding-top: 0rem !important;
  padding-bottom: var(--space-md);
  border-bottom: solid 1px var(--light-gray);

  position: relative;
}

.event--sign {
  display: none;
}

.event--details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.event--title a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.event--detail {
  display: flex;
  gap: 0.5rem;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.event--information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event--content {
  height: fit-content;
}

.event--meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 0.5rem;
}

.event--meta > div {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}

.event--description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
}

.event--image img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

/* breakpoint */
/* Tablet */
@media (min-width: 768px) {
  .event {
    padding-bottom: var(--space-lg);
  }

  .event--sign {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event--detail {
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .event--image img {
    height: 10rem;
    min-width: 17rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
}

/* Large Desktop */
@media (min-width: 1440px) {
}
