{# 
/**
 * @file
 * UMD Libraries Tab component.
 *
 * Available props:
 * - tab_value: The value of the tab.
 * 
 * Available slots:
 * - tab_heading: The heading of the tab.
 * - body_slot: The content of the tab.
 *
 */
#}

{% if tab_value is defined and body_slot is defined %}
  <div 
       class="tab--panel s-box-small-v s-box-small-h"
       id="tabpanel-{{ tab_value }}" 
       role="tabpanel" 
       tabindex="0" 
       aria-labelledby="tab-{{ tab_value }}">
    {% if tab_heading %}
      <h4>{% block tab_heading %}{% endblock %}</h4>
    {% endif %}
    <div class="t-body-medium wysiwyg-editor">
      {% block body_slot %}{% endblock %}
    </div>
  </div>

{% else %}
  {# variable error handling #}
  {% set errors = [] %}

  {% if tab_value is not defined %}
    {% set errors = errors | merge(['Tab Value']) %}
  {% endif %}

  {% if body_slot is not defined %}
    {% set errors = errors | merge(['Body (WYSIWYG)']) %}
  {% endif %}

  {# Log the errors #}
  {% if errors is not empty %}
    <div class="c-content-interactive-primary c-bg-interactive-primary s-box-small-h"> [ERROR] - UMD Libraries Tab</div>
    <div class="s-box-small-h"> Required fields missing: <strong>{{ errors | join(', ') }}</strong></div>
  {% endif %}

{% endif %}