.heading h1 {
  font-family: Interstate;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.08rem;
}

.heading h2 {
  font-family: Interstate;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6875rem;
}

.heading h3 {
  font-family: Interstate;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.71875rem;
}

.heading h4 {
  font-family: Interstate;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
}

@media (min-width: 1024px) {
  .heading h1 {
    font-size: 3rem;
    line-height: 3.12rem;
  }

  .heading h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .heading h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .heading h4 {
    font-size: 1.125rem;
    line-height: 1.74375rem;
  }
}
